.bg{
    width: 1920px;
    height: 1080px;
    background-color: #FBF3E1;
    display: flex;
    flex-direction: row;
}

.img{
    width: 1080px;
    height: 1080px; 
}

.strike{
    width: 693px;
    height: 797px;
    border-style:solid;
    border-width: 5px;
    border-radius: 45px;
    border-color: #F0B720;
    margin-left: 64px;
    margin-top: 141px;
}

.title{
    width: 447px;
    font-size: 64px;
    font-family: sans-serif;
    font-style: normal;
    font-weight:700;
    color: #F0B720;
    letter-spacing: 0.18em;
    margin-top: 132px;
    margin-bottom: 0;
    margin-left: 162px;
}

.text{
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    font-family:sans-serif ;
    width: 601px;
    margin-left: 62px;
    color: #310C0C;
    line-height: 184.02%;
    letter-spacing: 0.26em;
    margin-top:18px;
}

.close{
    position: fixed;
    right: 32px;
    top: 8px;
    font-size: 64px;
}
.close a{
    color: black;
}